{% extends "layout.html" %}

{% block content %}

<!-- First "Slide" Container -->
<div class="slide" id="slide1"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">Want to know about <b>Sky Munch</b>?</h1>
            <br>
            <p style="font-size: 30px;">The all in one solution for our hungriest of colleagues!</p>
        </div>
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide2"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            A showcase project by<br>David, Douglas, Kamran, Romario, and Samuel.</p>
        </div>
    </div>
</div>

<!-- Second "Slide" Container -->
<div class="slide" id="slide2"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide3"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            A showcase project by<br>David, Douglas, Kamran, Romario, and Samuel.</p>
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">What were our <b>Key Learning Goals</b>?</h1>
            <br>
            <p style="font-size: 30px;">Insert Goals</p>
        </div>
    </div>
</div>


<!-- Third "Slide" Container -->
<div class="slide" id="slide3"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide4"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            A showcase project by<br>David, Douglas, Kamran, Romario, and Samuel.</p>
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">And how did we <b>achieve</b> them?</h1>
            <br>
            <p style="font-size: 30px;">Insert Wireframes</p>
        </div>
    </div>
</div>

<!-- Fourth "Slide" Container -->
<div class="slide" id="slide4"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">What was the <b>result</b>?</h1>
            <br>
            <p style="font-size: 30px;">Talk about overview of the website.</p>
        </div>
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide5"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            A showcase project by<br>David, Douglas, Kamran, Romario, and Samuel.</p>
        </div>
    </div>
</div>

{% endblock %}