{% extends "layout.html" %}

{% block content %}

<!-- Return "Slide" Container -->
<div class="slide" id="sticker"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#reflections"><img src="../static/images/Sticker Sheet.png" alt="Sky Munch Logo" style="width: 150%; margin-right: 500px;"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8" style="padding-left: 250px;">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;"><b>UI Design</b> Choices</h1>
            <br>
            <p style="font-size: 30px;">
                - Simple.<br>
                - Consistent.<br>
                - Inclusive.</p>
        </div>
    </div>
</div>

<!-- Return "Slide" Container -->
<div class="slide" id="reflections"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Text Container -->
        <div id="container1" class="col-sm-8" style="padding-left: 100px;">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;"><b>Reflections</b> and <b>Iterations</b></h1>
            <br>
            <p style="font-size: 30px;">
                - Technical.<br>
                - General.</p>
        </div>
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#conclusion"><img src="../static/images/Mirror.png" alt="Sky Munch Logo" style="width: 100%; padding-right: 50px;"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
        </div>
    </div>
</div>

<!-- Conclusion "Slide" Container -->
<div class="slide" id="conclusion"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#conclusion"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            The showcase project by<br><b>David</b>, <b>Douglas</b>, <b>Kamran</b>, <b>Romario</b>, and <b>Samuel</b>.</p>
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">The Journey to <b>Munch</b>!</h1>
            <br>
            <p style="font-size: 30px;">Our all in one solution for our hungriest of colleagues!</p>
        </div>
    </div>
</div>

<!-- First "Slide" Container -->
<div class="slide" id="slide1"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slideAgenda"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            <p style="text-align: right;
            font-family: Sky Text;
            font-weight: normal;
            font-size: larger;
            padding-top: 15px;
            padding-right: 50px;">
            A showcase project by<br><b>David</b>, <b>Douglas</b>, <b>Kamran</b>, <b>Romario</b>, and <b>Samuel</b>.</p>
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">Want to know about <b>Sky Munch</b>?</h1>
            <br>
            <p style="font-size: 30px;">The all in one solution for our hungriest of colleagues!</p>
        </div>
    </div>
</div>

<!-- Agenda "Slide" Container -->
<div class="slide" id="slideAgenda"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide2"><img src="../static/images/Team.png" alt="Sky Munch Logo" style="height: 120%;"></a>
        </div>
        <!-- Text Container -->
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">Today's <b>Agenda</b></h1>
            <br>
            <p style="font-size: 30px;">- Project overview.<br>
                - Showcase demo.<br>
                - Future iterations and reflections.</p>
        </div>
    </div>
</div>

<!-- Second "Slide" Container -->
<div class="slide" id="slide2"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Text Container -->
        <div id="container1" class="col-sm-8" style="padding-left: 100px;">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Background</b> we built on</h1>
            <br>
            <p style="font-size: 30px;">
                - Manage meal breaks.<br>
                - Enhance the food ordering process.<br>
                - Deliver directly to the employee.
            </p>
        </div>
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide3"><img src="../static/images/B.png" alt="Sky Munch Logo"></a>
        </div>
    </div>
</div>


<!-- Third "Slide" Container -->
<div class="slide" id="slide3"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <!-- Text Container -->
        <div id="container1" class="col-sm-8" style="padding-left: 100px;">
            <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Objectives</b> we met</h1>
            <br>
            <p style="font-size: 30px;">
                - Transform employee to restaurant interaction.<br>
                - Introduce internal food & beverage delivery.<br>
                - Enhance employee convenience.
            </p>
        </div>
        <!-- Image Container -->
        <div id="container3" class="col-sm-4">
            <a href="#slide4"><img src="../static/images/BO.png" alt="Sky Munch Logo"></a>
        </div>
    </div>
</div>

<!-- Fourth "Slide" Container -->
<div class="slide" id="slide4"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Scope</b> we worked within</h1>
                <br>
                <p style="font-size: 30px;">
                    - Develop a responsive website.<br>
                    - Daily menu updates.<br>
                    - Delivery tracking.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide5"><img src="../static/images/BOS.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Fifth "Slide" Container -->
<div class="slide" id="slide5"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Constraints</b> we worked around</h1>
                <br>
                <p style="font-size: 30px;">
                    - Limited resource budget.<br>
                    - Cross-platform accessibility.<br>
                    - Third Party Requirements.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide6"><img src="../static/images/BOSC.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Sixth "Slide" Container -->
<div class="slide" id="slide6"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Assumptions</b> we made</h1>
                <br>
                <p style="font-size: 30px;">
                    - Desk delivery is desired.<br>
                    - Support from restaurants.<br>
                    - Support from staff.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide7"><img src="../static/images/BOSCA.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Seventh "Slide" Container -->
<div class="slide" id="slide7"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Risks</b> we're mitigating</h1>
                <br>
                <p style="font-size: 30px;">
                    - SSO integration.<br>
                    - Password cracking.<br>
                    - Data leakage.<br>
                    - Code injection.<br>
                    - Request forgery.<br>
                    - High delivery volumes.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide8"><img src="../static/images/BOSCAR.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Eighth "Slide" Container -->
<div class="slide" id="slide8"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Deliverables</b> we produced</h1>
                <br>
                <p style="font-size: 30px;">
                    - Fully functional website.<br>
                    - Clear UX.<br>
                    - Login system.<br>
                    - Data protection.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#stakeholderSlide"><img src="../static/images/BOSCARD.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Stakeholder "Slide" Container -->
<div class="slide" id="stakeholderSlide"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;"> <!-- Added align-items: center to center everything horizontally -->
    <div class="row" style="flex: 1; display: flex; align-items: center; justify-content: center; width: 100%;">
        <div class="row" style="flex: 1; display: flex; flex-direction: column; align-items: center;">
            <!-- Image Container -->
            <div id="container3" class="col-sm-4" style="margin-bottom: 20px; width: 100%; text-align: center;">
                <h1 id="welcometext" class="text-center" style="font-size: 50px; width: 100%;">The <b>Stakeholder</b> Mapping</h1>
                <a href="#slide9"><img src="../static/images/Stakeholder Map.png" alt="Sky Munch Logo" style="height: 100%; max-width: 100%; object-fit: contain;"></a>
            </div>
        </div>
    </div>
</div>

<!-- Ninth "Slide" Container -->
<div class="slide" id="slide9"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide10"><img src="../static/images/Cog.png" alt="Sky Munch Logo"></a>
            </div>
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>Development Process</b></h1>
                <br>
                <p style="font-size: 30px;">
                    Meeting user's needs & requirements.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Tenth "Slide" Container -->
<div class="slide" id="slide10"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide11"><img src="../static/images/Moscow.png" alt="Sky Munch Logo" style="width: 175%;"></a>
            </div>
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 275px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">The <b>MoSCoW</b> Framework</h1>
                <br>
                <p style="font-size: 30px;">
                    How might we create a seamless and secure food<br>
                    ordering platform that allows employees to<br>
                    conveniently order meals in the workplace?
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Eleventh "Slide" Container -->
<div class="slide" id="slide11"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center; width: 100%;">
        <div class="row" style="flex: 1; display: flex; flex-direction: column; align-items: center;">
            <!-- Image Container -->
            <div id="container3" class="col-sm-4" style="margin-bottom: 20px; width: max-content;">
                <h1 id="welcometext" class="text-center" style="font-size: 50px; width: 100%;">The <b>Process Flow</b> Design</h1>
                <a href="#slide12"><img src="../static/images/Process Flow.png" alt="Sky Munch Logo" style="height: 110%; text-align: left;"></a>
            </div>
        </div>
    </div>
</div>

<!-- Twelth "Slide" Container -->
<div class="slide" id="slide12"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">Our <b>Team Composition</b></h1>
                <br>
                <p style="font-size: 30px;">
                    - Project methodology.<br>
                    - Team roles.
                </p>
            </div>
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide13"><img src="../static/images/Sky Teamwork.png" alt="Sky Munch Logo"></a>
            </div>
        </div>
    </div>
</div>

<!-- Thirteenth "Slide" Container -->
<div class="slide" id="slide13"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Image Container -->
            <div id="container3" class="col-sm-4">
                <a href="#slide14"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            </div>
            <!-- Text Container -->
            <div id="container1" class="col-sm-8" style="padding-left: 100px;">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;">Our <b>Design</b> and <b>Tools</b> used</h1>
                <br>
                <p style="font-size: 30px;">
                    - Authentication.<br>
                    - UX and UI.<br>
                    - Backend Tools.
                </p>
            </div>
        </div>
    </div>
</div>

"""<!-- Fourteenth "Slide" Container --> <!--
<div class="slide" id="slide17"
style="margin: 5%;
margin-bottom: 500px; /* Last 'slide' does not need this */
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="row" style="flex: 1; display: flex; align-items: center;">
        <div class="row" style="flex: 1; display: flex; align-items: center;">
            <!-- Image Container --> <!--
            <div id="container3" class="col-sm-4">
                <a href="#footer"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo"></a>
            </div>
            <!-- Text Container --> <!--
            <div id="container1" class="col-sm-8">
                <h1 id="welcometext" class="text-left" style="font-size: 60px;"><b>Michael</b> Jordan</h1>
                <p style="font-size: 30px;"><b>Senior Manager</b></p>
                <br>
                <p style="font-size: 30px;">Michael is a Senior Manager at Sky who is always busy throughout the day in lots of meetings and often skips lunch to get all his work done<br>
                <br>Michael often has meetings during lunch and currently the system takes too much time to get his food on those days. This is where Sky Munch comes in, enabling Michael to continue his meetings while having his meal delivered directly to his desk.</p>
            </div>
            <!-- Text Container --> <!--
            <div id="container1" class="col-sm-8">
                <h1 id="welcometext" class="text-right" style="font-size: 60px; width: 100%;"><b>Susan</b> Baker</h1>
                <p style="font-size: 30px; text-align: right;"><b>Cyber Security Graduate</b></p>
                <br>
                <p style="font-size: 30px; text-align: right;">Susan is a first-year tech grad who is very tech savvy and values convenience highly.<br>
                <br>Susan is always looking for ways to make her life easier in a generation of technological convenience. The Sky Munch website offers new technology to greatly improve the convenience of getting your meal which is something that appeals to Susan and is key in why she is using Sky Munch.</p>
            </div>
            <!-- Image Container --> <!--
            <div id="container3" class="col-sm-4">
                <a href="#footer"><img src="../static/images/Munch (Square).png" alt="Sky Munch Logo" style="text-align: right;"></a>
            </div>
        </div>
    </div>
</div> -->

<!-- Fourteenth "Slide" Container -->
<div class="slide" id="slide14"
style="margin: 5%;
padding-bottom: 10%;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.473);
padding: 50px;
min-height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;">
    <!-- Image Container -->
    <div id="container3" class="col-sm-4" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <a href="/"><img src="../static/images/Persona.png"
            alt="Sky Munch Logo" style="max-width: 70%; max-height: 70%; object-fit: contain;"></a>
    </div>
</div>

{% endblock %}