{% extends "layout.html" %}

{% block content %}
<!--Container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 delivery_div">
            <h2>Delivery Details</h2>
            <form id="delivery_form" action="/processing" method="POST">
                <input type="hidden" name="CSRFToken" value="{% block CSRFToken %}{{ CSRFToken }}{% endblock %}"> <!--CSRF Token --->
                <h3>Customer Information</h3>
                <div class="form-group">
                  <label for="email" style="font-weight: normal;">Email for Order Confirmation *</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                  <label for="first_name" style="font-weight: normal;">First name *</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="last_name" style="font-weight: normal;">Last name *</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="phone_no" style="font-weight: normal;">UK Telephone Number *</label>
                    <input type="tel" class="form-control" id="phone_no" name="phone_no" pattern="\d{11}" maxlength="11" minlength="11" required>
                </div>
                <h3>Location</h3>
                <div class="form-group">
                    <label for="building_name" style="font-weight: normal;">Building Name *</label>
                    <input type="text" class="form-control" id="building_name" name="building_name" maxlength="20" required>
                </div>
                <div class="form-group">
                      <label for="floor" style="font-weight: normal;">Floor (Ground, 1st, etc.)*</label>
                      <input type="text" class="form-control" id="floor" name="floor" maxlength="20" required>
                </div>
                <div class="form-group">
                      <label for="office_area" style="font-weight: normal;">Office/Table No. *</label>
                      <input type="text" class="form-control" id="office_area" name="office_area" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="additonal_info" style="font-weight: normal;">Additional Information</label>
                    <input type="text" class="form-control input-lg" id="additonal_info" name="additonal_info" placeholder="Notes about your order, e.g. special notes for delivery" maxlength="50">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" id="remember" name="remember" checked> Remember me</label>
                </div>
            </form>
        </div>
        <div class="col-sm-4 order_div">
            <h2>Order Summary</h2>
            <a href="{{url_for('menu')}}" style="text-align: right;">Edit Cart</a>
            <table class="table table-no-bottom-border">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="no-line">Item1</td>
                        <td class="text-right no-line">£5.00</td>
                    </tr>
                    <tr >
                        <td class="no-line">Item2</td>
                        <td class="text-right no-line">£2.00</td>
                    </tr>
                    <tr>
                        <td class="no-line">Item3</td>
                        <td class="text-right no-line">£2.00</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-no-bottom-border">
                <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td class="text-right">£9.00</td>
                    </tr>
                    <tr >
                        <td class="no-line">Delivery</td>
                        <td class="text-right no-line">£0.00</td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td class="text-right">£9.00</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <button type="submit" class="btn btn-outline-success btn-lg btn-block" id="order_button" form="delivery_form">Place Order</button>
        </div>
    </div>
</div>
{% endblock %}
      