{% extends "layout.html" %}

{% block content %}
<!-- First Container -->
<div class="container-fluid 1" id="supercontainer1">
    <div class="row">
        <div id="container1" class="col-sm-8">
            <h1 id="welcometext" class="text-left">Welcome to <b>Sky Munch!</b></h1>
            <br>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Restaurants" aria-label="Search Restaurants" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <br>
            <p>Fuel your productivity without skipping a beat. Sky Munch is your go-to destination for delicious meals delivered right to your desk, so you can keep powering through your workday with ease.</p>
            <p>Browse our curated selection of top workplace eateries, pick your favorite dishes, and let us handle the rest. With just a few clicks, your meal will be on its way, delivered right to you—no need to interrupt your flow or leave your desk.</p>
            <p>Stay focused and energized while we take care of your dining needs.</p>
            <br>
            <p>Sky Munch: <span style="font-style: italic;">Where great work meets great food!</span></p>
        </div>
        <!-- Third Container -->
        <div id="container3" class="col-sm-4">
            <img src="../static/images/Delivery.png" alt="Delivery available">
        </div>
    </div>
</div>

<!-- Second Container -->
<div class="container-fluid 2" id="supercontainer2">
    <h2 class="text-left">Restaurants</h2> 
    <div class="row">
        <div class="col-sm-3">
            <h3>The Pavilion</h3>
            <a href="{{url_for('menu')}}"><img src="../static/images/Pavilion.png" class="pav-restaurant" width="100%" alt="Pavilion Restaurant"></a>
        </div>
        <div class="col-sm-3">
            <h3>The Dining Room</h3>
            <a href="{{url_for('menu')}}"><img src="../static/images/The Dining Room.png" class="din-restaurant" width="100%" alt="The Dining Room Restaurant"></a>
        </div>
        <div class="col-sm-3">
            <h3>The Garden</h3>
            <a href="{{url_for('menu')}}"><img src="../static/images/The Garden.png" class="garden-restaurant" width="100%" alt="The Garden Restaurant"></a>
        </div>
        <div class="col-sm-3">
            <h3>The Restaurant</h3>
            <a href="{{url_for('menu')}}"><img src="../static/images/The Restaurant.png" class="res-restaurant" width="100%" alt="The Restaurant"></a>
        </div>  
    </div>
</div>
{% endblock %}
