{% extends "layout.html" %}

{% block content %}
<!--Container-->
<div class = "container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-8 left-container">
            <!-- add content for menu -->
            <a href="#"><img src="../static/images/Menu.png" class="Menu-img" width="100%" height = '100%' alt="Menu for Restaurant"></a>
        </div>
        <div class="col-lg-4 d-flex flex-column p-0">
            <div class="top-right-container">
                <!-- Add content -->
                    <a href="#"><img src="../static/images/Special_Food.png" class="Special_item" width="100%" height="100%" alt="Special item"></a>
            </div>
            <div class="bottom-right-container">
                <!-- Add content -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
